/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    /* background: #37517e; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*--------------------------------------------------------------
# Login Section
--------------------------------------------------------------*/
#Login {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 300%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#login-title{
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Starborn';
    font-size: 50pt;
    color: #fff;
    text-shadow: #fc0 1px 0 10px;
}

#Login .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (max-width: 991px) {
    #Login {
        height: 100vh;
        text-align: center;
    }

    /* #Login .animated {
        animation: none;
    } */

    #Login .Login-img {
        text-align: center;
    }

    #Login .Login-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #login-title{
        font-size: 50pt;
    }
    /* #Login h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #Login h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    } */

    #Login .Login-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #Login .Login-img img {
        width: 80%;
    }

    #Login .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

